/*html{
    position: relative;
    min-width: height 100%;
}*/


body {
    background-color:#262626;
    /* margin bottom by foorter height */
    margin-bottom: 60px;

}
p {
    text-align: center;
    color: white;
}

#wrap {
    background-color:#262626;
    color:646464;
}
#header {
    background-color:black;
    height:70px;
}

#title {
    color: blue;
    text-align:center;
    font-family:'pacifico', cursive;
    padding-top: 16px;

}

#buttonArea{
    margin-top: 10px;
    margin-bottom:20px;
}
 .btn { margin: 3px;
}

#gifArea {
    margin-top:10px;
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    flex-wrap: wrap;
   /* height: 100vw; */
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 50px;
}

.orangeBorder {
    border-radius: 5px;
    border: 2px solid orange;

}
.submit {
    background-color: #262626;
    color:white;
    border:1px solid #646464;
}

.instructions {
    display: none;
    color: orange;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align:center;
    background-color: black;
    color:rgb(10, 184, 242);
}
\.credits {
    font: 8em;
}

.clear {
    clear:both;
}